 
  .top-categories {
    text-align: center;
    margin: 40px 20px; /* Increased margin from 20px to 40px on the top */
    padding: 20px; /* Added padding for extra space inside the container */
}

.top-categories h2 {
    color: black;
}

.categories-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.category-card {
    width: 300px;
    overflow: hidden;
}

.category-card img {
    width: 250px;
    height: 250px;
}

.category-info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-info p {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.category-info a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}
.category-info a {
    font-size: 40px;
    text-decoration: none; /* Remove default underline */
    color: black;
}

.category-info a:hover {
    color: #71320d; /* Highlight color on hover */
    text-decoration: none; /* Ensure no default underline on hover */
}

.category-info a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust distance of underline */
    left: 0;
    right: 0;
    height: 3px; /* Underline thickness */
    background-color: #692d0b; /* Underline color */
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.3s ease; /* Smooth transition for hover */
}

.category-info a:hover::after {
    transform: scaleX(1); /* Show the underline on hover */
}
